section {
  padding: 100px 0;
  text-align: center;
  min-height: 500px;

  .section-container {
    display: grid;
    grid-template-columns: 200px 200px;
    align-items: center;
    justify-content: space-evenly;
    grid-template-areas:
      "Crocs Sneackers"
      "text1 text2";
    width: 70%;
    margin: auto;
    gap: 20px;
    .crocs {
      grid-area: Crocs;
      border-radius: 150px;
      img {
        height: 200px;
        width: 200px;
        border-radius: 50px;
        box-shadow: 1px 6px 8px 1px;
      }
    }
    .sneakers {
      grid-area: Sneackers;
      img {
        height: 200px;
        width: 200px;
        border-radius: 50px;
        box-shadow: 1px 6px 8px 1px;
      }
    }
    .text1 {
      grid-area: text1;
    }
    .text2 {
      grid-area: text2;
    }
  }
}
