footer {
  background: rgb(230, 213, 188);
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
  font-size: 1rem;
  color: $color1;

  ul a {
    line-height: 25px;
  }
  a:hover {
    border-bottom: 1px solid $color1;
  }
}
