/* Conteneur principal */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
}

/* Chaque cellule du tableau */
.cell {
  flex: 1 1 30%;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Images dans chaque cellule */
.cell img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
